.spacer {
  flex: 1 1 auto
}

span {
  display: inline-flex;
  align-items: center;
}

.mat-toolbar.mat-primary {
  background: #757575;
  color: #fff;
}

.navbar {
  background: #757575;
  color: #fff;
}

a:hover {
  color: #ffffff;
  text-decoration: underline;
}