<div>
    <div class="container mt-4">
        <div class="row">
            
            <div class="col-auto mb-3">

                <div class="row-auto mb-3">
                    <app-add-instruction></app-add-instruction>
                </div>

                <div class="row-auto mb-3">
                    <app-instructions-table *ngIf="true"></app-instructions-table>
                </div>
            </div>

            <div class="col-auto mb-3">
                <div class="row-auto  mb-3">
                    <app-config-processor></app-config-processor>
                </div>
            </div>

        </div>
    </div>



    <div class="container">
        <div class="row uppadding-10">
            <div class="col- md-12">
                <ngb-alert type="info" [dismissible]="false">
                    <strong>INFO:</strong> Desarrollado por los alumnos Rago Nicolás y Carpintero Juan Bautista.
                    <strong>CÁTEDRA:</strong> Arquitectura de Computadoras y Técnicas Digitales.
                </ngb-alert>
            </div>
        </div>
    </div>

</div>